body
{
    font-family: Arial, Helvetica, sans-serif;
}

.mittig
{
    text-align: center;
}

table,
td
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th
{
    border: 2px solid black;
}

td:hover
{
    background-color: black;
}

/* Gleichmäßiges Gitter für 3 gleichgroße Kontainer */

.spielbereich
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(173, 173, 173);
    width: calc(100vw - 15px);
}

.eigenesSpielfeld
{
    background-color: aqua; /* Starthintergrundfarbe */
}

.inhalt /* Anpassung der Schiffanzeige */
{
    font-size: larger;
    padding: 30px;
}

.spielernamensfeld /* linksbündig mit Abstand zu links */
{
    float: left;
    margin-left: 10vw;
}

.gegnernamensfeld /* rechtsbündig mit Abstand zu rechts */
{
    float: right;
    margin-right: 10vw;
}

.vs /* Zentrierung durch Abstand zu links */
{
    margin-left: 24vw;
}
