body /* Schriftauswahl */
{
    font-family: Arial, Helvetica, sans-serif;
}

.mittig /* zentrieren */
{
    text-align: center;
}

/* Zentrierung und Rand aller Spielfelder */

table,
td
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th /* Beschriftung am Rand */
{
    border: 2px solid black;
    width: calc(100% / 12);
}

th, td /* Höhe anpassen, damit quadratisch */
{
    height: calc(calc(calc(100vw - 15px) / 3) / 12);
}

td:hover /* Selektion */
{
    background-color: black;
}

/* Gleichmäßiges Gitter für 3 gleichgroße Kontainer */

.spielbereich
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(173, 173, 173);
    width: calc(100vw - 15px);
}

.eigenesSpielfeld /* Starthintergrundfarbe */
{
    background-color: aqua;
}

.inhalt /* Anpassung der Schiffanzeige */
{
    font-size: larger;
    padding-left: 30px;
    background-color: lightblue;
}

.spielernamensfeld /* linksbündig mit Abstand zu links */
{
    float: left;
    margin-left: 10vw;
}

.gegnernamensfeld /* rechtsbündig mit Abstand zu rechts */
{
    float: right;
    margin-right: 10vw;
}

.vs /* Zentrierung durch Abstand zu links */
{
    margin-left: 24vw;
}
